.git
.github
.gitignore
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.egg-info/
*.egg
*.so
.env
.venv/
venv/
env/
*.log
tests/
docs/
*.md
update_translations.sh
update_translations_dev.ps1
.gitkeep
.idea/
.vscode/
instance/
*.db
notes.txt