DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_name
DATABASE_URL_FRONT=postgresql://postgres:postgres@localhost:5432/db_name
API_BASE_URL=http://127.0.0.1:8000
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=realm_name
KEYCLOAK_CLIENT_ID=client_id
KEYCLOAK_CLIENT_SECRET=client_secret
HEALTH_TOKEN=token