<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <style>
        .alert {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .alert-success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
        }
        .alert-danger {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
        }
    </style>
    <!-- Navbar -->
    {% if current_user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{{ url_for('main.home') }}">
          <i class="fas fa-cogs me-2"></i>Admin Panel
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav ms-auto">
            <span class="navbar-text me-3 d-flex align-items-center">
              <i class="fas fa-user-circle me-2"></i>{{ current_user.email }}
            </span>
            <a
              class="nav-link btn btn-outline-light btn-sm px-3"
              href="{{ url_for('main.logout') }}"
            >
              <i class="fas fa-sign-out-alt me-1"></i>Cerrar Sesión
            </a>
          </div>
        </div>
      </div>
    </nav>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for message in messages %}
        <!-- {{ message }} -->
        <div
          class="alert {% if 'error' in message %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show position-fixed bottom-0 end-0 p-3 auto-dismiss-alert"
          role="alert" style="max-width: 300px;">
          <div class="pe-4" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{ message }} <!-- Imprime el mensaje -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- Main Content -->
    <main class="">{% block content %}{% endblock %}</main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

     <script>
        // Selecciona todas las alertas con la clase "auto-dismiss-alert"
        var autoDismissAlerts = document.querySelectorAll('.auto-dismiss-alert');

        // Itera a través de las alertas y cierra cada una después de 2 segundos
        autoDismissAlerts.forEach(function (alert) {
            setTimeout(function () {
                var bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            }, 5000); // 2000 milisegundos = 2 segundos
        });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
