{% extends 'base.html' %}
{% block title %}Agregar País{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Agregar nuevo país</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
      {% for error in form.name.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.iso2.label(class="form-label") }}
      {{ form.iso2(class="form-control") }}
      {% for error in form.iso2.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-check mb-3">
      {{ form.enable(class="form-check-input") }}
      {{ form.enable.label(class="form-check-label") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
      <div class="d-flex justify-content-end">
    <a href="{{ url_for('country.list_country') }}" class="btn btn-secondary">{{ _('Cancelar') }}</a>
    <button type="submit" class="btn btn-primary ms-2">{{ _('Guardar') }}</button>
  </div>
  </form>
</div>
{% endblock %}